<div class="page-header">
  <h1></a>Frequently Asked Questions</h1>
</div>


<div class = "ul">
  <div class = "container">

    <% @question.each do |question| %>
    <li><%= link_to question.question, "#"+question.slug %></li>
    <% end %>

  </div>
</div>

<p></p>

    <% @question.each do |question| %>
    <p><h3><%= question.question %></h3></p>
    <p><%= question.answer %></p>
    <%= link_to "top", "#" %>
    <% end %>
