<div class = "page-header">
<h1>Users <%= link_to "New User", new_user_path(@user), class: "btn btn-info pull-right" %></h1>
</div>
<table class="table">

  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

    <tbody>
      <tr>
        <% @users.each do |user| %>
        <td><%= user.first_name.capitalize + " " + user.last_name.capitalize %></td>
        <td><%= mail_to user.email %></td>
      </tr>
        <% end %>
    </tbody>

</table>
