<!DOCTYPE html>
<html>
<head>
  <title>Gcamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <h1 class="navbar-text">gCamp</h1>
  </nav>

  <div class="container">
<%= yield %>
  <div class="page-header">
  </div>

  <footer>
    <p><a href="/about">About</a> | <a href="/terms">Terms</a></p>
  </footer>

  </div>


</body>
</html>
