
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <h1 class="navbar-text">gCamp</h1>
  </nav>

  <div class="jumbotron">
    <div class="jumbo_title">
      <h1>gCamp</h1>
        <h3 style="color:gray">Your life, organized.</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-4">
      <%=image_tag("gcamp_index_1.jpg", class: "img-responsive")%>
    </div>
      <div class="col-xs-6 col-md-4">
        <%=image_tag("gcamp_index_2.jpg", class: "img-responsive")%>
      </div>
        <div class="col-xs-6 col-md-4">
          <%=image_tag("gcamp_index_3.jpg", class: "img-responsive")%>
        </div>
  </div>
