
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <h1 class="navbar-text">gCamp</h1>
  </nav>

  <div class="jumbotron">
  <div class="jumbo_title">
    <h1>gCamp</h1>
    <h3 style="color:gray">Your life, organized.</h3>
  </div>
  </div>
