.page-header
  %h1 About

.row
  .col-md-4
    =image_tag "about_index.jpg", class: "img-responsive"

  .col-md-8
    %p We are dedicated to the makers, the creators, the risk-takers.
    %p We wake up in the middle of the night and furiously write down ideas about how to make you online life better.
    %p Human collaboration and communication is what drives us, and it infuses every feature of gCamp.

%h4
  gCamp is extremely active. Check out out killer stats below!
  %p
  =pluralize(Project.all.count, "Project") + ","
  =pluralize(Task.all.count, "Task") + ","
  =pluralize(Membership.all.count, "Project Member") + ", "
  =pluralize(User.all.count, "User") + ", "
  =pluralize(Comment.all.count, "Comment")
